# Virtual environments
.venv/
venv/

# PyInstaller build output
build/
dist/
*.spec

# Logs, temp files
__pycache__/
_sort_tmp/
*.tmp
src/map_kp.html
*.csv
src/map_kp.html
*.csv

# =========================================
# Runtime (embeddable python / deployed files)
# =========================================
runtime/
logs/