# Virtual environments
.venv/
venv/

# PyInstaller build output
build/
dist/
*.spec

# Logs, temp files
__pycache__/
*.pyc
_sort_tmp/
*.tmp
userdata/

# =========================================
# Runtime (embeddable python / deployed files)
# =========================================
runtime/*
!runtime/certs/
runtime/certs/*
!runtime/certs/cacert.pem
!runtime/python/
runtime/python/*
!runtime/python/.gitkeep
logs/
